body {
display: flex;
flex-direction: column;
align-items: center;
    background-color: rgb(57, 57, 57);
}

button{
    margin: 5% 0%;
}

h1{
    font-family: 'Roboto', sans-serif;
color: white;
    text-align: center;
}

form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form div{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    color: white;
}