body {
display: flex;
flex-direction: column;
align-items: stretch;
    background-color: rgb(57, 57, 57);
}

button{
    margin: 5% 0%;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a{
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1{
    font-family: 'Roboto', sans-serif;
color: white;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form div {
    font-family: 'Roboto', sans-serif;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
}

label{
    font-family: 'Roboto', sans-serif;

    color: white;
}